.app-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.form-group {
    padding: 3px;
}

#submit {
    max-width: 90px;
    margin: 55px;
    font-size: large;
}

p {
    margin-top: 0px;
}