.order-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    padding: 3px;
}

#submit {
    max-width: 90px;
    font-size: large;
}

p {
    margin-top: 0px;
}
h3 {
    font-weight: bolder;
}

label {
    font-weight: bold;
}

button {
    background-color: #114401;
    color:  #f0e4b0;
    padding: 15px;
    border: none;
    margin-right: 10px;
}
button:hover{
    opacity: 75%;
}